.formPermiso{
    margin-top: 5px;
    background-color:rgba(243, 247, 250, 0.87);
    color: black;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.tituloForm{
    background-color: rgb(204, 200, 200);
    text-align: center;
    margin-top: 5px;
}

.subtituloForm{
    background-color: rgb(200, 200, 200) ;
    text-align: center;
    margin-top: 5px;
}

.confirmacion{
    text-align: center;
    font-size: medium;
}

.paraLabel{
    text-align: right; 
}

.nombre_organizacion::after{
    content: "Sistema de Solicitud de Permisos de UNPSJB";
}

.nombre_organizacion_body::after{
    content: "Bienvenidos al Sistema de Solicitud de Permisos de UNPSJB";
}

.logo_superior_derecho{
    width: 60px;
    height: 60px;    
}
.direccion_footer::after{
    content: "Direccion: Av. Fontana 127-129, Trelew, Chubut.";

}
.footer{
    background-color: rgb(200, 200, 200) ;
    height: 30px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 5px;
}



